<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    {{{castle_meta_tags}}}
    <title>Verify your session</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>

      var token;
      // const api = 'http://localhost.charlesproxy.com:9292'
      const api = 'https://verify.castlete.st'

      function poll () {
        const params = {
          t: token
        }
        $.get(api + '/v0/check', params, function(data) {
          if (data.confirmed) {
            $('#waiting').html('<a href="/?challenge_succeeded=1" class="btn btn-lg btn-secondary">Continue</a>')
          } else {
            setTimeout(poll, 1000);
          }
        });
      }

      $(function(){
        const params = {
          device_token: $.cookie('castle_device_token')
        }
        $.post(api + '/v0/request', params, function(data) {
          token = data.token
          poll();
        });
      });

      function recaptchaCallback(response) {
        const params = {
          recaptcha: response,
          device_token: $.cookie('castle_device_token')
        }
        $.post(api + '/v0/verify', params, function(data) {
          window.location.href = '/?device_token=' + data.device_token;
        });
      }
    </script>

    <!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      /*
       * Globals
       */

      /* Links */
      a,
      a:focus,
      a:hover {
        color: #000;
      }

      /* Custom default button */
      .btn-secondary,
      .btn-secondary:hover,
      .btn-secondary:focus {
        color: #333;
        text-shadow: none; /* Prevent inheritance from `body` */
        background-color: #fff;
        border: .05rem solid #fff;
      }


      /*
       * Base structure
       */

      html,
      body {
        height: 100%;
        background-color: #333;
      }

      body {
        display: -ms-flexbox;
        display: flex;
        color: #000;
        background-color: #fff;
      }

      .cover-container {
        max-width: 42em;
      }


      /*
       * Header
       */
      .masthead {
        margin-bottom: 2rem;
      }

      .masthead-brand {
        margin-bottom: 0;
      }

      .nav-masthead .nav-link {
        padding: .25rem 0;
        font-weight: 700;
        color: rgba(255, 255, 255, .5);
        background-color: transparent;
        border-bottom: .25rem solid transparent;
      }

      .nav-masthead .nav-link:hover,
      .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
      }

      .nav-masthead .nav-link + .nav-link {
        margin-left: 1rem;
      }

      .nav-masthead .active {
        color: #fff;
        border-bottom-color: #fff;
      }

      @media (min-width: 48em) {
        .masthead-brand {
          float: left;
        }
        .nav-masthead {
          float: right;
        }
      }


      /*
       * Cover
       */
      .cover {
        padding: 0 1.5rem;
      }
      .cover .btn-lg {
        border-radius: 100px;
        border: 2px solid #000;
        /*color: #8596ca;*/
        font-size: 20px;
        margin-top: 20px;
        padding: .75rem 1.75rem;
      }

      /*
       * Footer
       */
      .mastfoot {
        /*color: rgba(255, 255, 255, .5);*/
      }

      .g-recaptcha > div {
        margin: auto;
      }

    </style>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
<!--
      <h3 class="masthead-brand">Cover</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
 -->
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Is this really you?</h1>
    <p class="lead">Looks like there's something unusual about this session. To verify your identity, please click the link in the email we just sent you.</p>
<!--
    <p>
      <div class="g-recaptcha" data-sitekey="6LfGmoUUAAAAAEJPjSmMR6QyxAwRLI0zZs32nGyG" data-callback="recaptchaCallback"></div>
    </p>
-->
    <p id="waiting" class="lead">
      Waiting...
      <!-- <a href="/?challenge_succeeded=1" class="btn btn-lg btn-secondary">Yes, I'm human</a> -->
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Security by <a href="https://castle.io/">Castle</a></p>
    </div>
  </footer>
</div>
</body>
</html>
